<div class="container">

  <%= simple_form_for :restaurants, url: restaurants_path do |f| %>
    
    <% @restaurants.each do |restaurant| %>
      <%= f.simple_fields_for "", restaurant do |g| %>
        <%= g.input :name, input_html: { value: restaurant.name } %>
        <%= g.input :address, input_html: { value: restaurant.address } %>
      <% end %>
    <% end %>
    

    <%= f.submit %>
  <% end %>

</div>